{
{% if install_docker__insecure_registries | default(false) %}
"insecure-registries": [
{% for registry in install_docker__insecure_registries %}
{% if not loop.last %}
"{{ registry }}",
{% else %}
"{{ registry }}"
{% endif %}
{% endfor %}
]
{% endif %}
}